<div
  class="container w-screen lg:px-12 overflow-hidden mt-10 md:mt-0"
>
  <div
    class="flex flex-col lg:flex-row w-full min-h-screen items-center lg:justify-center"
  >
    <!-- Text Section -->
    <div
      class="slide-effect slide-right text-center flex flex-col gap-1 lg:text-left lg:items-start md:items-start whitespace-nowrap"
    >
      <p class="text-3xl text-white">Howdy,</p>
      <h1
        class="text-[48px] leading-tight text-white font-bold text-10 capitalize sm:text-[64px]"
      >
        <div class="text-base-400 lg:w-[550px]">I'm Matheus</div>
      </h1>
      <img
        class="items-center"
        src="https://readme-typing-svg.herokuapp.com?
        font=Roboto&duration=2500&&color=FFF&size=20&vCenter=true&width=370&height=30&
        lines=Full+Stack+Developer;Angular+Software+Engineer;ASP.Net+Core+and+Node.js;Motivated+by+creating+impactful+web+apps;Brazilian;"
      />
      <a
        href="https://drive.google.com/file/d/1JCm3u-cjFtU9kSZktkbC4nh8uQ0B3YkO/view"
        target="”_blank”"
        class="rounded-xl bg-base-100 p-3 flex cursor-pointer mt-5"
      >
        <div class="mx-1">
          <svg
            mlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              class="text-black"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9.75v6.75m0 0l-3-3m3 3l3-3m-8.25 6a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
            />
          </svg>
        </div>
        <p class="mx-2 text-black">My Resume</p>
      </a>
      <div class="flex gap-4 mt-4">
        <a href="https://www.linkedin.com/in/matheustonon/" target="”_blank”"
          ><i class="fa-brands fa-github fa-lg text-white"></i
        ></a>
        <a href="https://github.com/m-tonon" target="”_blank”"
          ><i class="fa-brands fa-linkedin fa-lg text-white"></i
        ></a>
        <a href="https://twitter.com/mat_tonon" target="”_blank”"
          ><i class="fa-brands fa-twitter fa-lg text-white"></i
        ></a>
      </div>
    </div>
    <!-- Image Section -->
    <div class="slide-effect slide-left flex justify-center lg:justify-end w-[500px]">
      <div class=""></div>

      <div class="relative w-[500px] flex justify-center">
        <img
          class="rounded-full -rotate-3 translate-y-20 -translate-x-2 items-center w-72 flex justify-center absolute z-10"
          src="../../../assets/img/profile-removebg.png"
          alt=""
        />
        <svg
          class="w-[500px]"
          id="sw-js-blob-svg"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
        >
          <defs>
            <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
              <stop
                id="stop1"
                stop-color="rgba(32, 113, 148, 1)"
                offset="70%"
              ></stop>
              <stop
                id="stop2"
                stop-color="rgba(54, 188, 247, 1))"
                offset="100%"
              ></stop>
            </linearGradient>
            <filter id="glow-effect">
              <feGaussianBlur
                in="SourceGraphic"
                stdDeviation="3"
                result="blur"
              ></feGaussianBlur>
              <feFlood
                flood-color="rgba(54, 188, 247, 0.5)"
                result="glow-color"
              ></feFlood>
              <feComposite
                in="glow-color"
                in2="blur"
                operator="in"
                result="glow"
              ></feComposite>
              <feMerge>
                <feMergeNode in="glow"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
              </feMerge>
            </filter>
          </defs>
          <path
            fill="url(#sw-gradient)"
            d="M25.8,-20C32.3,-12.5,35.5,-1.8,33.9,8.8C32.4,19.5,26,30.1,17,34C7.9,37.8,-3.8,35,-13.9,29.7C-24,24.5,-32.5,16.9,-34.3,8.1C-36,-0.7,-31,-10.7,-24.1,-18.3C-17.3,-26,-8.7,-31.2,0.5,-31.6C9.7,-32,19.4,-27.6,25.8,-20Z"
            width="45%"
            height="50%"
            transform="translate(50 50), rotate(180)"
            stroke-width="0"
            style="transition: all 0.3s ease 0s; "
            stroke="url(#sw-gradient)"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
