<div class="container w-screen lg:px-12 overflow-hidden">
  <div class="flex flex-col lg:flex-row w-full min-h-screen items-center lg:justify-center">
    <div class="text-center flex flex-col gap-1 lg:text-left lg:items-start md:items-start whitespace-nowrap">
      <p class="text-3xl dark:text-white">Howdy,</p>
      <h1 class="text-[48px] leading-tight dark:text-white font-bold text-10 capitalize sm:text-[64px]">
        <div class="text-base-400 lg:w-[550px]">I'm Matheus</div>
      </h1>
      <img
      class="lg:flex-start"
        src="https://readme-typing-svg.herokuapp.com?
        font=Roboto&duration=2500&&color=FFF&size=20&vCenter=true&width=370&height=30&
        lines=Full+Stack+Developer;Angular+Software+Engineer;ASP.Net+Core;Motivated+by+creating+impactful+Web+Apps;Brazilian;"
      />
      <a href="https://drive.google.com/file/d/1vGyf_vaElTRMLogwhzq0khhtAjym9m7r/view" 
        class="rounded-xl bg-base-100 p-3 flex cursor-pointer mt-5">
        <div class="mx-1">
          <svg x
            mlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor" 
            class="w-6 h-6">
            <path class="text-black" stroke-linecap="round" stroke-linejoin="round" d="M12 9.75v6.75m0 0l-3-3m3 3l3-3m-8.25 6a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
          </svg>
        </div>
        <p class="mx-2 text-black">
          My Resume
        </p>
      </a>
    </div>
    <div class="flex justify-center lg:justify-end w-[500px]">
      <div class="relative">
        <img
          class="rounded-full h-[300px] w-[300px] flex items-center justify-center"
          src="../../../assets/img/profile.jpg"
          alt=""
        />
        
      </div>
      <div class="spinner absolute w-[300px]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 927 926.1">
          <path
            d="M898.7 157.1c56.3 102 16.6 249.3-26.1 379.8-42.8 130.5-88.3 244-184.8 314.3-96.5 70.4-243.5 97.6-380.4 51.7C170.5 856.7 43.9 737.5 10.2 595.3c-34-142.2 25-307.4 128.1-420C241.6 62.6 389.5 2.5 539.6.5 690-1.2 842.4 55.3 898.7 157.1z"
            fill="none"
            stroke="#91591d"
            stroke-width="8"
            stroke-miterlimit="10"
            stroke-opacity="1"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
