a#scroll-btn {
  position: absolute;
  height: 50px;
  width: 30px;
  @apply border-2 border-gray-900 dark:border-white;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1rem;
  border-radius: 3em;
}
a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
  height: 8px;
  width: 8px;
  @apply bg-gray-900 dark:bg-white;
  border-radius: 50%;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
a#scroll-btn:after {
  position: absolute;
  content: "SCROLL DOWN";
  width: 72px;
  font-size: 10px;
  left: -20px;
  bottom: 3.5rem;
  @apply text-gray-900 dark:text-white;
  opacity: 0.5;
}